.editor-container {
    max-width: 70%;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 5px;
}

.output {
    padding: 5px;
    background: #eee;
}

.editor-input {
    padding: 0.5rem 1rem;
}

.editor-input-label {
    margin-right: 1rem;
    display: inline-block;
}
